body {
    background-color: rgba(103, 41, 164, 0.438);
}

.mainHeader {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    text-decoration: underline;
    padding: 1rem;
}

.p2 {
    font-size: 40px;
}